<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Recipe
      <small>List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Recipe</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <button type="button" class="btn btn-secondary btn-1" routerLink="/recipe-form">+ Add Recipe</button>
      <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th scope="col">Code</th>
            <th scope="col">Parent</th>
            <th scope="col">Name</th>
            <th scope="col">Variants</th>
            <th scope="col">Active</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let r of recipes">
            <td>{{r.recipe_code}}</td>
            <td>{{r.parent_recipe}}</td>
            <td>{{r.recipe_name}}</td>
            <td>{{r.variants}}</td>
            <td>{{r.variants}}</td>
          <tr>
        </tbody>
      </table>
    </div>
  </section>
</div>