.btn-1 {
    left: 0;
    float: left;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.form-group {
    background-color: #fff;
}

#customer{
    margin-left: 0.7em; 
}

.box{
   box-shadow: 0 0 8rem rgba(0,0,0,0.2);
   padding: 1em 0;
}

.s-btn{
    display: inline-flex;
    float: right;
    
    margin-top: -0.2em;
    right: 0;
    margin-right: 5em;
}

.s-btn label{
    margin-right: 1em;
}

.s-btn input{
    height: 23px;
    width:200px;
}