<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Recipe Type
      <small>List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Recipe Type</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <button type="button" class="btn btn-secondary btn-1">+ Add Recipe Type</button>
      <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </section>

</div>