<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-cutlery"></i> <span>Master</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='/plan-list' routerLinkActive="active"><i class="fa fa-circle-o"></i> Plan</a></li>
          <li><a routerLink='/dietitian' routerLinkActive="active"><i class="fa fa-circle-o"></i> Dietitian</a></li>
          <li><a routerLink="/recipetype" routerLinkActive="active"><i class="fa fa-circle-o"></i> Recipe Type</a></li>
          <li><a routerLink="/package" routerLinkActive="active"><i class="fa fa-circle-o"></i> Package</a></li>
          <li><a routerLink="/group" routerLinkActive="active"><i class="fa fa-circle-o"></i> Group</a></li>
          <li><a routerLink="/uom" routerLinkActive="active"><i class="fa fa-circle-o"></i> Unit of Measurement</a></li>
          <li><a routerLink="/customersignup" routerLinkActive="active"><i class="fa fa-circle-o"></i> Customer
              Sign-up</a></li>
        </ul>
      </li>

      <li>
        <a routerLink="/recipe" routerLinkActive="active">
          <i class="fa fa-cutlery"></i> <span>Recipe</span>
        </a>
      </li>
      <li>
        <a routerLink="/ingredient" routerLinkActive="active">
          <i class="fa fa-th"></i> <span>Ingredient</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="/package" routerLinkActive="active">
          <i class="fa fa-pie-chart"></i>
          <span>Customer</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/customerimport" routerLinkActive="active"><i class="fa fa-circle-o"></i> Customer
              Import</a></li>
          <li><a routerLink="/customerlist" routerLinkActive="active"><i class="fa fa-circle-o"></i> Customer List</a></li>
          <li><a routerLink="/package" routerLinkActive="active"><i class="fa fa-circle-o"></i> Customer Package</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/admin-diet" routerLinkActive="active">
          <i class="fa fa-th"></i> <span>Admin-diet</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Report</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/package" routerLinkActive="active"><i class="fa fa-circle-o"></i> Recipe Unit Wise</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>