<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Customer List
      <small>List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Customer</li>
      <li class="active">List</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <form novalidate [formGroup]="clistForm" (ngSubmit)="onSubmit()" class="form-group">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="ctype">Customer Type</label>
          </div>
          <div class="col-md-2">
            <select id="selectpackage" class="form-control" formControlName="ctype">
              
              <option *ngFor="let ctype of cType" [value]="ctype">
                {{ ctype }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <button type="submit" class="btn btn-primary btn-1">Save</button>
          <button type="button" class="btn btn-light btn-1">Cancel</button>
          <button type="button" class="btn btn-info btn-1">Export Excel</button>
        </div>
      </form>
      <div class="col-md-2 s-btn">
        <label>Search:</label>
        <input type="search" class="form-control input-sm" placeholder="">
      </div>
      <table  class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact No</th>
            <th>Gender</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
          
        </table>
    </div>
  </section>
</div>